/* Fonts */
@font-face {
    font-family: 'futura';
    src:  url('fonts/futura/FuturaLT-CondensedLight.woff2') format('woff2'),
          url('fonts/futura/FuturaLT-CondensedLight.woff') format('woff'),
          url('fonts/futura/FuturaLT-CondensedLight.eot') format('eot'),
          url('fonts/futura/FuturaLT-CondensedLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'futuraBold';
    src:  url('fonts/futura/FuturaLT-Condensed.woff2') format('woff2'),
          url('fonts/futura/FuturaLT-Condensed.woff') format('woff'),
          url('fonts/futura/FuturaLT-Condensed.eot') format('eot'),
          url('fonts/futura/FuturaLT-Condensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-style: normal;
}

h {
  font-size: 7vh;
  font-family: "futuraBold";
  color: #fff;
}

p {
  font-size: 3vh;
  font-family: "futura";
  color: #000;
}

p.bold {
  font-size: 3.5vh;
  font-family: "futuraBold";
  color: #000;
}

p.description {
  font-size: 2.5vh;
  font-family: "futura";
  color: #000;
}

p.white {
  font-size: 3vh;
  font-family: "futura";
  color: #fff;
}


/* Mobile Menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: rgba(126,29,23,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenavlinks a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-size: 25px;
  text-align: center;
  font-family: "futura";
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
}

.sidenavlinks a:hover {
  color: #000;
}

.mobilelogo{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  position: fixed;
  top: 3vh;
}

.zindex{
  z-index: 100;
  position: relative;
}

.logomobile{
  width: 30vw;
  cursor: pointer;
  margin: auto;

}

/* Menu */
.indexcontainer{
  height: 100px;
  width: 100%;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left:0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar{
  width: 50%;
  height: auto;
  margin-top: 0;
  float: right;
  display: inline-block;
  margin-right: 10%;
  align-items: center;
  margin-left: 0;
}

nav{
  float: right;
  margin-right: 15%;
  white-space: nowrap;
}

nav ul li img{
  vertical-align: middle;
}

nav ul li{
  font-family: "futura";
  display: inline-block;
  list-style: circle;
  margin: 0px 15px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover{
  text-decoration: none;
  color: rgba(126,29,23,1);

}

.dropdown{
  font-family: "futura";
  display: inline-block;
  list-style: circle;
}

.dropbtn {
  background: rgba(255,255,255,0);
  color: white;
  padding: 16px;
  font-family: "futura";
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.logo{
  width: 200px;
  margin-left: 4%;
  margin-top: 30px;
  cursor: pointer;
}

.social{
  width: 25px;
  vertical-align: text-bottom;
}

/* Main text */
.maintext{
  width: 100%;
  text-align: center;
  padding: 2vh;
}

/* Containers */
.container {
  display: flex;
  justify-content: center;
  background-position: center;
  min-height: 100%;
  background-repeat: no-repeat;
}

.mediacontainer {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.mediacontainerwhite {
  display: flex;
  justify-content: center;
  padding: 2vh;
  background-color: #fff;
}

/* 4 column container */
.responsive-three-column-grid {
    display:block;
}

/* columns */
.responsive-three-column-grid > * {
    padding:0rem;
}

/* tablet breakpoint */
@media (min-width:1200px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 5fr 2fr 2fr 1fr;
    }
}

/* 2 column container */
.responsive-two-column-grid {
    display:block;
    background-color: #fff;
    text-align: center;
    padding-top: 2vh;
}

/* columns */
.responsive-two-column-grid > * {
    padding:0;
    margin: auto;
}

/* tablet breakpoint */
@media (min-width:1200px) {
    .responsive-two-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

/* 2 column container */
.responsive-two-column-grid-reverse {
    display:flex;
    background-color: #fff;
    text-align: center;
    padding-top: 2vh;
    flex-direction: column-reverse;
}

/* columns */
.responsive-two-column-grid-reverse > * {
    padding:0;
    margin: auto;
}

/* tablet breakpoint */
@media (min-width:1200px) {
    .responsive-two-column-grid-reverse {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

/* Two Column Image */
.twocolumn {
  width:50vw;

}

/* Items */
.item-1 {
  flex: 1 1 auto;
}

/* Parallax Backgrounds */
.parallax {
  min-height: 250px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: relative;
  bottom: 0
  left: 0;
  width: 100%;
}

/* Album Cover */
.album {
  width:50vw;
  border-style:solid;
  border-color: #fff;
  border-width: 1.5vw;
}

/* Tour Dates */
.tourtable{
  width: 90%;
  text-align: center;
  font-size: 3vh;
  text-align: center;
  font-family: "futura";
  color: #000;
  background-color: #7E1D17;
  border-collapse: collapse;
  margin: auto;
}

/* Button Styling */
.button{
  width: 100%;
  text-align: center;
  padding: 2vh;
}

.selectionbtn{
  position: relative;
  bottom: 0;
  margin: auto;
  display: inline-block;
  background: rgba(0,0,0,1);
  padding: 2vh;
  box-sizing: border-box;
  text-decoration: none;
  color: rgba(255,255,255,1);
  transition-duration: 0.4s;
  font-size: 4vh;
  text-align: center;
  font-weight: lighter;
  font-family: "futura";
}

.selectionbtn:hover{
  background: rgba(255,255,255,1);
  color: rgba(129,29,23,1);
}


/* Icons */
.icon{
  height: 10vh;
  padding-top: 2vh;
  margin:auto;
}


/* Insta Feed*/
.instafeed{
  width: 25%;
  height: calc(100vw / 4);
  object-fit: cover;
}

.instafeed:hover{
  opacity: 0.7;
  transition: 0.7s;
}

/* Review */
.review{
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 4vh;
  box-sizing: border-box;
  position: relative;
  background: #fff;
}
.reviewcontent{
  font-size: 3vh;
  font-weight: lighter;
  font-family: "futura";
  color: #000;
  line-height: 1.5;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  padding:2vw;
  background-color: #fff;
  background: linear-gradient(to right, black 2px, transparent 2px) 0 0,
              linear-gradient(to right, black 2px, transparent 2px) 0 100%,
              linear-gradient(to left, black 2px, transparent 2px) 100% 0,
              linear-gradient(to left, black 2px, transparent 2px) 100% 100%,
              linear-gradient(to bottom, black 2px, transparent 2px) 0 0,
              linear-gradient(to bottom, black 2px, transparent 2px) 100% 0,
              linear-gradient(to top, black 2px, transparent 2px) 0 100%,
              linear-gradient(to top, black 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 25% 25%;
}


/* Footer */
.footercontainer{
  width: 100%;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  position: relative;
  background-color: #000;
  text-align: center;
  vertical-align: middle;
  padding: 2%;
}

.logofooter{
  width: 20vw;
  margin: auto;
  cursor: pointer;
}


/* Lyrics Tabs*/
.tab {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: 0px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: -3px;
  margin-right: -3px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  width: 80%;
  display: none;
  background-color: #fff;
  margin: auto;
  text-align: center;
  border-top: 3px solid;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Mobile Show */
@media (max-width: 1200px) {
  .mobileHide {
    display: none;
  }
}

@media (max-width: 1200px) {
  .indexcontainer {
    display: none;
  }
  .mobileShow {
    display: inline;
  }
}

@media (min-width: 1201px) {
  .mobileShow{
    display: none;
  }
}
